
@model Drip.Webapp.Models.MonthlyOverviewViewModel

@foreach (var month in Model.Months)
{
<tr>
    <th>
        @Html.ActionLink("Create a new month", "GetMonth", "Dashboard", new { MonthID = month.MonthID })
    </th>

    <th>
        @Html.ActionLink("Delete a month", "GetMonth", "Dashboard", new { MonthID = month.MonthID })
    </th>


    <td>
        @month.NameOfMonth
    </td>

    <td>
        @month.YearOfMonth
    </td>

    <th>
        @Html.ActionLink("Go to month", "GetMonth", "Dashboard", new { MonthID = month.MonthID })
    </th>
</tr>
}
